* 
{
    box-sizing: border-box;
}

input,
select,
textarea 
{
    display: block;
}

textarea 
{
    resize: none;
}

select::-ms-expand 
{
    display: none;
}

span 
{
    display: inline-block;
}

/* НАВИГАЦИЯ ДЛЯ ВСЕХ ДЕВАЙСОВ*/
.nav
{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a 
{
    display: inline-block;
    padding: 5px 0 0 0;
    display: block;
    height: 40px;
    text-align: center;
    text-decoration: none;
    font-family: Georgia;
    color: #333;
    font-size: 15px;
    line-height: 30px;
}

.nav a:hover 
{
    background-color: #15a98c;
    color: #f5f5f5;
}

.about_me_link 
{
    width: 25%;
}

.my_hobby_link
{
    width: 30%;
}

.my_favorite_films_link 
{
    width: 45%;
}

/* Верхняя информация: имя, фото, любимая цитата, картинка background */

body 
{
    background: url("../images/top/top.jpg") no-repeat center 30px;
}

.my_photo 
{
    text-align: center;
    padding-top: 15px;
}

.my_photo img 
{
    width: 200px;
}

.general_info 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.name
{
    text-align: center;
    margin-bottom: 0;
}

.my_name 
{
    font: 700 25px "Open Sans", sans-serif;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0px;
}

.quote 
{
    font: italic 19px Georgia, serif;
    color: #fff;
    text-align: center;
}

.author 
{
    display: block;
    font: 600 15px "Open Sans", sans-serif;
}

.hover
{
    width: 100%;
}

.about_me
{
    width: 100%;
}

.about_me-paragraph {
    margin-top: 0;
}


/* Обо мне, хобби, любимые писатели и фильмы */

.favorite_things 
{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    padding: 0 15px;
}

.about_me 
{
    font: 20px Georgia, serif;
    color: #555555;
    max-width: 570px;
    line-height: 30px;
}

.fav 
{
    font: 600 24px "Open Sans", sans-serif;
    color: #15a98c;
}

.fav_writers_list,
.fav_films_list 
{
    font: 19px Georgia, serif;
    color: #555555;
}

.fav_writers_list li 
{
    line-height: 30px;
}

.fav_films_list li
{
    line-height: 30px;
}

.my_hobby 
{
    color: #333333;
    font: 27px "Open Sans", sans-serif;
    padding-top: 10px;
}

.write_to_me_link 
{
    font: 18px Georgia, serif;
    color: #32b49a;
    text-decoration: underline;
}

.green_arrow 
{
    color: #32b49a;
}

/*  ФИЛЬМЫ   */

.cover_films 
{
    background-color: #f9f9f9;
    margin-bottom: 20px;
}
.fav_films_description 
{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
}

.slide 
{
    display: flex;
    flex-direction: column;
}

.h3 
{
    font: bold 25px "Open Sans", sans-serif;
    margin: 10px 0;
}

.content_film
{
    margin-bottom: 35px;
}

.about_film 
{
    font: 19px/30px Georgia, serif;
    color: #555555;
    max-width: 284px;
    margin-bottom: 30px;
    margin-top: 0;
}

.poster img 
{
    width: 280px;
    border-radius: 4px;
}

.link 
{
    margin-top: 5px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 15px;
}

.all_films_link 
{
    width: 170px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 30px;
    display: inline-block;
    font: 19px Georgia, serif;
    color: #f5f5f5;
    height: 60px;
    background-color: #15a98c;
    border-radius: 4px;
    padding: 2px;
    vertical-align: middle;
    text-align: center;
    padding-top: 16px;
    cursor: pointer;
}

/*  ФОРМА */

.callback 
{
    max-width: 320px;
    margin: 0 auto;
}

.title 
{
    text-align: center;
    font: 300 24px "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title::before,
.title::after 
{
    content: "";
    position: relative;
    top: -5px;
    display: inline-block;
    height: 1px;
    width: 40px;
    background: #c4c4c4;
}

.title::before 
{
     right: 15px;
}

.title::after 
{
    left: 10px;
}

[type="radio"] 
{
    display: inline;
    margin-right: 5px;
}

form 
{
    max-width: 320px;
    margin: 0 auto;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    color: #333;
    font: 20px "Open Sans", sans-serif;
}

.gender_p label:first-child 
{
    margin-right: 20px;
}

.red_star 
{
    color: #ff0000;
}

.name_p,
.email_p,
.country,
.gender_p,
.message 
{
    margin-bottom: 20px;
}

.name_p,
.user_name,
.email_p,
.user_mail,
.country
{
    height: 40px;
    width: 290px;
}

.message 
{
    width: 290px;
    height: 120px;
}

.message 
{
    padding: 10px;
}

.user_name,
.user_mail,
.country,
.message 
{
    padding-left: 10px;
    color: #555;
    font: 18px "Open Sans", sans-serif;
}

.user_name,
.user_mail,
.country,
.message 
{
    border-radius: 2px;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    -khtml-border-radius: 2px;
    border: 2px solid #c9c9c9;
}

.focus:focus 
{
    outline-color: #15a98c;
    border-color: #15a98c;
}

.send 
{
    margin-top: 35px;
    margin-bottom: 35px;
    cursor: pointer;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    font: 19px Georgia, serif;
    color: #f5f5f5;
    background-color: #15a98c;
}

.country 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/icons/arrow_down.png) no-repeat 250px 10px;
}

/* ПОДВАЛ */

.footer 
{
    padding: 15px;
    height: 90px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    background-color: #f9f9f9;
    font: 16px Georgia, serif;
    color: #555555;
}

@media screen and (min-width: 358px)
{
    .favorite_things
    {
        padding-top: 25px;
    }

    .footer 
    {
        padding-top: 22px;
    }

}

@media screen and (min-width: 481px) 
{
    /* НАВИГАЦИЯ */
    .nav a 
    {
        font-size: 18px;
    }

    .about_me_link::before 
    {
        content: url("../images/icons/about_me_icon.png");
        padding-right: 10px;
    }

    .my_hobby_link::before 
    {
        content: url("../images/icons/hobby_icon.png");
        padding-right: 10px;
    }

    .my_favorite_films_link::before 
    {
        content: url("../images/icons/video_icon.png");
        padding-right: 10px;
    }

    .nav a.about_me_link:hover::before,
    .nav a.my_hobby_link:hover::before,
    .nav a.my_favorite_films_link:hover::before 
    {
        filter: brightness(0) invert(1);
    }

    .my_favorite_films_link 
    {
        line-height: 25px;
    }

    /* Верхняя информация: имя, фото, любимая цитата, картинка background */

    body 
    {
        background: url(../images/top/top.jpg) no-repeat center 40px;
    }

    .my_name
    {
        font-size: 35px;
    }
    
    .blockquote
    {
        font-size: 23px;
    }

    .author 
    {
        margin-top: 0;
    }


    .favorite_things
    {
        padding-top: 0;
    }


    /* Обо мне, хобби, любимые писатели и фильмы */

    .my_hobby 
    {
        font-size: 30px;
        padding: 0;
    }

    .about_film 
    {
        margin-bottom: 35px;
        font-size: 18px;
    }
    
    .slide 
    {
        text-align: left;
    }

    .link 
    {
        text-align: center;
        margin-top: 15px;
        padding-left: 0;
    }

    /* ФОРМА */

    .title::before,
    .title::after 
    {
        width: 110px;
    }

    .callback 
    {
        max-width: 450px;
    }

    .form 
    {
        max-width: 450px;
    }

    .name_p,
    .user_name,
    .email_p,
    .user_mail,
    .country 
    {
        height: 45px;
        width: 450px;
    }

    .message 
    {
        width: 450px;
        height: 150px;
    }

    .country 
    {
        background: url(../images/icons/arrow_down.png) no-repeat 400px 10px;
    }

    /* ПОДВАЛ */

    .footer 
    {
        margin-top: 20px;
        padding-top: 30px;
    }
}

@media screen and (min-width: 500px) /*Промежуточная точка */ 
{
    /* НАВИГАЦИЯ */

    .about_me_link 
    {
        width: 140px;
    }

    .my_hobby_link 
    {
        width: 160px;
    }

    .my_favorite_films_link 
    {
        width: 240px;
    }

    .about_film
    {
        max-width: 100%;
        padding-right: 15px;
    }

    .nav 
    {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 586px)
{
    .favorite_things
    {
        padding-top: 25px;
    }

}

@media screen and (min-width: 600px) 
{
    .about_me
    {
        max-width: 100%;
    }

    .favorite_films_and_writers 
    {
        margin-top: 20px;
        display: flex;
        justify-content: flex-start;
    }
  
    .fav_writers_block 
    {
        margin-right: 50px;
    }
  
    .favorite_things 
    {
        align-items: flex-start;
    }
}

@media screen and (min-width: 769px) {
    .nav a 
    {
        font-size: 19px;
    }

    .blockquote
    {
        font-size: 25px;
    }

    .my_hobby 
    {
        font-size: 32px;
        padding-left: 0;
    }

    .content_film 
    {
        display: flex;
    }
    
    .h3 
    {
        font-size: 20px;
        margin-top: 0px;
    }

    .about_film 
    {
        font-size: 18px;
       
    }

    .link 
    {
        margin-top: 25px;
    }

    .poster img 
    {
        width: 285px;
        height: 190px;
    }

    .poster 
    {
        margin-right: 70px;
    }

    .footer 
    {
        padding-top: 28px;
        height: 70px;
    }
}

@media screen and (min-width: 981px) 
{
    .content 
    {
        max-width: 960px;
        margin: 0 auto;
    }

    .nav a 
    {
        height: 50px;
    }

    body 
    {
        background: url(../images/top/top.jpg) no-repeat center 50px;
    }
    
    .blockquote 
    {
        margin-bottom: 15px;
    }

    .about_me-paragraph {
    margin-top: 15px;
}

}


@media screen and (min-width: 1025px) 
{
    .nav 
    {
        margin-bottom: 190px;
    }

    .my_photo img 
    {
        width: 330px;
    }

    .about_me
    {
        max-width: 570px;
    }

    .general_info 
    {
        flex-direction: row;
        align-items: center;
    }

    .about_me p
    {
        margin-top: 10px;
    }

    .hover 
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .blockquote 
    {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .quote 
    {
        margin-top: -30px;
    }

    .favorite_things
    {
        padding-top: 0;
    }

    .author 
    {
        display: block;
        text-align: left;
        font-style: normal;
        font-size: 20px;
        padding-left: 50px;
    }

    .my_name 
    {
        margin-top: 70px;
        color: #333333;
        font-size: 48px;
        margin-bottom: 20px;
    }

    .border 
    {
        width: 58px;
        height: 4px;
        color: #45c3aa;
        background: #45c3aa;
        border: 1px solid #45c3aa;
        border-radius: 6px;
        margin-left: 15px;
    }

    .my_photo 
    {
        margin-bottom: 0;
    }
    
    .fav 
    {
        margin-top: 0;
    }
    .favorite_films_and_writers 
    {
        margin-top: 40px;
        display: block;
        margin-right: 43px;
    }

    .fav_writers_list li 
    {
        font-size: 19px;
        line-height: 30px;
    }

    .fav_films_list li 
    {
        font-size: 19px;
        line-height: 30px;
    }
    
    .name 
    {
        margin-left: 50px;
    }

    .about_me 
    {
        margin-left: 55px;
        font-size: 19px;
        line-height: 30px;
    }

    .favorite_things 
    {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 0;
        padding-right: 0;
    }

    .blockquote 
    {
        margin-left: 60px;
        text-align: left;
    }
    
    .my_hobby 
    {
        font-size: 36px;
        padding-left: 0;
        margin-top: 40px;
    }

    .about_film
    {
        padding-right: 0;
    }

    .hobby_film_title
    {
        padding-top: 50px;
    }

    .author 
    {
        font-size: 16px;
    }

    .title::before,
    .title::after 
    {
        width: 180px;
    }

    .callback 
    {
        max-width: 540px;
    }

    .form {
        max-width: 540px;
    }

    .name_p,
    .user_name,
    .email_p,
    .user_mail,
    .country 
    {
        width: 540px;
    }

    .message 
    {
        width: 540px;
    }

    .country 
    {
        background: url(../images/icons/arrow_down.png) no-repeat 500px 10px;
    }
}

@media screen and (min-width: 1200px) 
{
    .about_film 
    {
        max-width: 285px;
    }

    .poster 
    {
        margin-right: 0;
    }
    .slide 
    {
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: row;
        max-width: 1800px;
        margin: 0 auto;
        justify-content: space-around;
    }

    .content_film 
    {
        display: block;
    }

    .fav_films_description 
    {
        width: 1800px;
        margin: 0 auto;
    }

    .h3 
    {
        text-align: left;
        margin-top: 15px;
    }

    .fav_films_description 
    {
        padding-left: 0;
        max-width: 1200px;
    }

    .about_film 
    {
        font-size: 16px;
        line-height: 28px;
        text-align: left;
    }

    .all_films_link 
    {
        margin-bottom: 50px;
        width: 220px;
        height: 60;
        padding-top: 15px;
        font-size: 18px;
    }

    .cover_films 
    {
        margin: 0 auto;
    }
}