.content
{
	  padding: 100px 0 0 0;
	  max-width: 948px;
	  margin: 0 auto;
}

.content_top
{
	display: flex;
}

.my_image
{
	width: 330px;
	height: 350px;
}

.top_quote
{
	padding-top: 50px;
	margin-left: 60px;
}

.text
{
	color: #848484;
	font: italic 28px/40px Georgia, serif;
}

.author
{
	margin-top: -8px;
	margin-left: 35px;
	font: 600 16px 'Open Sans', sans-serif;
	color: #333333;
}

.fav_writers
{
	font: 600 24px 'Open Sans', sans-serif;
	color: #15a98c;
}

.fav_films
{
	font: 600 24px 'Open Sans', sans-serif;
	color: #15a98c;
}

.name
{
	margin-top: 7px;
	font: 700 48px 'Open Sans', sans-serif;
	color: #333333;
	margin-bottom: 18px;
}

.quote_text
{
	margin-top: -48px;
	margin-left: 30px;
}

.content_main
{
	margin-top: 20px;
	display: flex;
}

.content_main_left
{
	width: 330px;
}

.content_main_right
{
	margin-left: 75px;
	width: 570px;	
}

.fav_writers_list
{
	padding-left: 25px;
}

.fav_writers_list li
{
	font: 19px/30px Georgia, serif;
	color: #555555;
}

.fav_films_list
{
	padding-left: 25px;
}
.fav_films_list li
{
	font: 19px/30px Georgia, serif;
	color: #555555;
}

.fav_writers_list li:last-child
{
	margin-bottom: 30px;
}

.fav_writers_list li:first-child
{
	margin-top: -5px;
}

.fav_films_list li:first-child
{
	margin-top: -5px;
}

.border
{
	margin-left: -2px;
	width: 58px;
	height: 4px;
	color: #45c3aa;
	background: #45c3aa;
	border: 1px solid #45c3aa;
	border-radius: 6px;
}

.info_about_me
{
	margin-top: 47px;
	margin-bottom: 40px;
	font: 19px/30px Georgia, serif;
	color: #555555;
}

.my_hobby
{
	margin-top: -10px;
	font: 19px/30px Georgia, serif;
	color: #555555;
}

.hobby
{
	color: #333333;
	font: 36px 'Open Sans', sans-serif;
}

.write_to_me_link
{
	display: inline-block;
	margin-top: 19px;
	text-decoration: underline;
}

.write_to_me_text
{
	font: 19px/30px Georgia, serif;
	color: #32b49a;
}